:root {
    --branco: white;
    --laranja: rgb(252, 135, 2);
    --preto: black;
    --azul-escuro: rgb(0, 0, 73);
    --borda-botao: darkblue; 

    background-color: var(--preto);
}

main {
    width: 425px;
    margin: auto auto;
}

.display {
    width: 90%;
    height: 200px;
    margin: 35px 5%;
    background-color: var(--preto);
    border: none;
    color: var(--branco);
    font-size: 2.5rem;
    outline: none;
}

.resultado {
    color: var(--branco);
    margin: 10px 15%;
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: row-reverse;
    height: 3.5rem;
}

.botoes {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 42px 42px 42px 42px 42px;
    justify-content: space-evenly;
    row-gap: 8px;
}

.teclado {
    border-radius: 30px 10px;
    border: solid 4px var(--borda-botao);
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-size: 1.5rem;
}

.igual {
    grid-column: 3 / 5;
    color: var(--laranja);
}

.funcoes {
    color: var(--laranja);
}

@media screen and (max-width: 425px) {
    main {
        width: 100%;
    }
}