:root {
    --branco: white;
    --laranja: rgb(252, 135, 2);
    --preto: black;
    --azul-escuro: rgb(0, 0, 73);

    background-color: var(--preto);
}

main {
    width: 500px;
}

.display {
    width: 90%;
    height: 300px;
    margin: 35px 5%;
    background-color: var(--preto);
    border: none;
    color: var(--branco);
}

.botoes {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 42px 42px 42px 42px 42px;
    justify-content: space-evenly;
    row-gap: 8px;
}

.teclado {
    border-radius: 30px 10px;
    border: solid 4px darkblue;
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-size: 150%;
}

.funcoes {
    color: var(--laranja);
}

.resultado {
    color: var(--branco);
    margin: 10px 15%;
}